html, body {
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
}

input, button, textarea, select, option {
  outline: none !important;
}

a, p {
  text-decoration: none;
  margin-bottom: 0;
}

section {
  position: relative;
}

img {
  display: block;
  width: 100%;
  height: 100%;
}

.container {
  position: relative;
  z-index: 5;
}

.slick-slide {
  outline: none !important;
}
